{% extends 'base.html.twig' %}

{% block title %}About - {{ controller_name }}{% endblock %}

{% block body %}
            <h2>About</h2><br>
<strong>Authors:</strong><br>
Sayuta Jaspers * <a href="https://github.com/Sayuta">Github</a> * sayuta@qredit.io<br>
Nayiem Willems * <a href="https://github.com/NayiemWillems">Github</a> * nayiem@qredit.io<br>
Mike Osullivan * mike@qredit.io<br>
<br>
<strong>Version:</strong> v1.0.0-QAE.1<br>
<br>
QREDIT DWEB WALLET IS PROVIDED AS-IS.<br>
<br>
<strong>Terms of Use:</strong><br>
Use at your own risk!
The authors of the software, Hodler Enterprises or Qredit Team, cannot retrieve your recovery phrase, private keys or passwords if you lost forget them.<br>
You acknowledge that the safe-keeping of your private keys is your own responsibility.<br>
<br>
<strong>No Warranty:</strong><br>
Qredit does not warrant for Software and supplies it on as "as-is" and "as-available" basis.<br>
Your Use of this software is at your own risk and under your liability. <br>
Qredit makes no warranty that (I) the software will meet your requirements, including providing you with any relevant information or reaching a relevant audience and<br>
(II) the Software will be uninterrupted, timely, secure, or error-free and <br>
(III) the results that may be obtained from the Use of the Software will be accurate or reliable and<br>
(IV) the quality of any products, services, information or other material purchased or obtained by You through Software will meet your expections, or<br>
(V) any errors in the Software will be corrected.<br>
<br>
<strong>Liability:</strong><br>
For no case and for no reasons shall Qredit be held liable for any damage, direct or indirect, consequential, exemplary, physical or special, to You<br>
or any 3rd party due to its misperformance of duties herein.<br>
Qredit provides the Software on an AS-IS basis and shall not be held liable, to the extent permitted by law,<br>
by any case of misconduct negligence, gross negligence, malice, or any other mean, to any damagers or loss of property, including damages to:<br>
virtual property, reputation and business reputation, user account information including login information, loss of profit, loss of good name,<br>
all resulting from the use or inability to use Software rendered by Qredit.<br>


{% endblock %}
